.wd-custom-kanbas-nav {
    background-color: white; 
    padding: 0;
    margin: 0;
}

.wd-custom-kanbas-nav li {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em; 
    text-align: left; 
    color: red; 
    border-left: 3px solid transparent; 
}

.wd-custom-kanbas-nav a {
    color: red; 
    text-decoration: none;
}

.wd-custom-kanbas-nav a i {
    color: red; 
    font-size: 2em;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 30px; 
}

.wd-custom-kanbas-nav li.wd-active, 
.wd-custom-kanbas-nav li.wd-active a {
    background-color: white; 
    border-left: 3px solid red; 
}

.close-icon {
    position: fixed;
    top: 10px; 
    right: 10px; 
    font-size: 24px; 
    color: lightgray; 
    text-decoration: none; 
}
