.header {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: red;
    font-size: 24px;
    padding-top: 10px;
}

.icon {
    background: none;
    border: none;
    margin-right: 10px;
    padding: 0;
    color: red;
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px;
}

.hrStyle {
    border: none;
    height: 5px;
    background-color: red;
    margin: 10px 0;
}

.courseContent {
    display: flex;
    flex-direction: row;
}

.courseNavigation {
    display: none;
}

.courseNavigationVisible {
    display: block;
}

.courseMainContent {
    flex-grow: 1;
    height: calc(100vh - 50px);
    margin-left: 20px;
    overflow-y: scroll;
}