.module-pad {
    padding-left: 30px;
    padding-right: 30px;
}

.custom-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: white;
}
